#root {
    width: 100%;
}

body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* .container {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -160px;
} */

.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.td-navbar {
    text-align: right;
}

.title {
    /* color: rgba(123, 206, 202, 0.541); */
    /* background: -webkit-linear-gradient(rgb(10, 10, 10), rgb(46, 45, 45)); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    padding: 5px;
    background-color: black;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
}

/* .TodoEntry {
    display: block;
    margin-left: 75px;
} */

.todoTitle{
    background-color: darkgrey;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.input{
    margin-left: 10px;
    margin-right: 10px;
}

/* .done {
    color: "blue";
} */

.inputFields{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.listContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    background-color: darkgray;
}

.todo {
    background-color: red;
    border-radius: 5px;
}

.done {
    background-color: lightgreen;
    border-radius: 5px;
}